
a {
	color: black;
	text-decoration: none;
}

ul {
	list-style: none;
	color: #ddd;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
}

img {
	border: 1px solid #ddd;
	border-radius: 2px;
}

.octocat {
	display: inline-block;
	padding-right: 10px;
}

.octocat img {
	width: 250px;

}

.octocat > a::after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 5px;
	border-color: #ddd transparent transparent transparent;
	content: "";
	position: relative;
	top: 2px;
	left: 242px;
}

.image-footer > span::before {
	content: "#";

}

.image-footer {
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
	width: 255px;
}

.image-caption {
	text-align: right;
}

.image-caption span, a{
	line-height: 10px;
}

.image-number {
	float: left;
	position: relative;
	top: 50%;
	line-height: 22px;
}

.authors {
	display: inline-block;
	padding-left: 0;
}

.authors img{
	width: 20px;
	border: none;
	border-radius: 2px;
	vertical-align: middle;
}


