
a {
	color: black;
	text-decoration: none;
}

ul {
	list-style: none;
	color: #ddd;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
}

img {
	border: 1px solid #ddd;
	border-radius: 2px;
}

.octocat {
	display: inline-block;
	padding-right: 10px;
}

.octocat img {
	width: 250px;
}

.octocate img::after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px 100px 0 100px;
	border-color: #ddd transparent transparent transparent;

}
.image-footer > span::before {
	content: "#";

}

.image-footer {
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	display: block;
	text-align: right;
}

.image-number {
	float: left;
}

.authors img{
	width: 20px;
	border: none;
	border-radius: 2px;
	float: right;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px 100px 0 100px;
	border-color: #adadad transparent transparent transparent;
}


